@media screen and (min-width: 1921px) {
    #instagram {
        background-size: 100%;
        background-position: bottom center;
    }

    #first {
        background-size: 100%;
    }
}

/*1024-1199*/
@media screen and (max-width: 1199px) {

    #header, #advantages-container, #about, #instagram-container, #price, #first-container, #masters, #place-container, #footer {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }

    #main #main-info .main-name:first-child {
        position: absolute;
        top: 25px;
        right: 0;
    }

    #main #main-image img {
        position: absolute;
        top: 77px;
        right: 1px;
        max-width: 495px;
    }

    #about #about-main #about-image img {
        max-width: 100%;
    }

    #about .second-title {
        margin: 0 auto 60px auto;
    }

    #about #about-main #about-text #about-image-second img {
        position: absolute;
        right: 135px;
        bottom: -224px;
    }

    #masters-category {
        width: 100%;
        height: 80%;
        margin: 40px auto 0 auto;
    }

    #place-container #map {
        max-width: 775px;
    }
}

/*768-1023*/
@media screen and (max-width: 1023px) {

    #main #main-info .main-name {
        font-size: 150px;
        font-family: "Castellar", sans-serif;
        color: rgba(174, 137, 89, 0.051);
    }

    #main #main-image img {
        position: absolute;
        top: 214px;
        right: 1px;
        max-width: 360px;
    }

    #main #main-info #main-title {
        margin: 200px 0 0 30px;
        font-size: 30px;
        font-family: "Lora-Regular", sans-serif;
        color: rgb(255, 255, 255);
        max-width: 414px;
    }

    #main #main-info .btn {
        margin: 50px 0 50px 30px;
    }

    #main #main-info #main-text {
        font-size: 20px;
        margin: 40px 0 0 30px;
    }

    #main #main-info .main-name:last-child {
        left: 20px;
    }

    #advantages #advantages-container {
        max-width: 385px;
        display: flex;
        align-items: baseline;
        flex-direction: column;
        height: 270px;
        padding: 30px 20px;
    }

    #about #about-main .about-text-words:hover, #about #about-main .about-text-words:hover, #about #about-main #about-image:hover, #about .second-title:hover, #about #about-advantages .about-charm:hover {
        transform: none;
    }

    #about #about-main {
        align-items: center;
    }

    #about #about-main #about-text {
        max-width: 320px;
    }

    #about #about-main #about-image {
        margin-right: 20px;
    }

    #about #about-main #about-text #about-image-second img {
        position: absolute;
        right: 65px;
        bottom: -210px;
        max-width: 165px;
    }

    #instagram #instagram-container .btn {
        margin-right: 0;
        margin-left: 10px;
    }

    #instagram #instagram-container #instagram-text {
        margin-left: 30px;
    }

    .btn {
        padding: 20px 50px;
    }

    #price {
        margin: 70px auto;
    }

    #price .price-title {
        margin-bottom: 30px;
    }

    #extra {
        width: 370px;
        margin-right: 20px;
        margin-left: 20px;
    }

    #price #price-image {
        position: absolute;
        top: 5px;
        right: 0;
    }

    #price #main-price {
        margin-left: 40px;
    }

    #first #first-container .btn {
        margin-right: 0;
        padding: 20px 40px;
    }

    #first #first-container #first-text {
        margin-left: 30px;
    }

    #masters #masters-text {
        margin: 0 auto;
    }

    #masters-category .slick-next {
        right: 235px;
    }

    #masters-category .slick-prev {
        left: 235px;
    }

    #masters-category .slick-next, .slick-prev {
        bottom: 0;
    }

    #masters #masters-text {
        width: 740px;
    }

    #place-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 70px 70px 1fr;
        grid-row-gap: 10px;
        align-items: center;
    }

    #place-container #place-info .logo {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #place-container .place-text-time {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    #place-container .place-text {
        grid-column: 3 / 5;
        grid-row: 1 / 2;
    }

    #place-container .place-text-social {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #place-container #place-image {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    #place-container .place-icons-mail {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    #place-container .place-icons-phone {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
    }

    #place-container #map {
        max-width: 730px;
        height: 400px;
        grid-column: 1 /5;
        grid-row: 3 / 4;
    }

    #reservation {
        margin: 0 20px;
    }

    #reservation #reserve {
        margin: 0;
    }

}

@media screen and (max-width: 930px) {

    .slick-center img {
        transform: none;
    }

    .slick-center{
        transform: none;
    }

    .slick-slide {
        padding: 50px 0;
    }

    #masters-category .slick-center .write {
        width: 292px;
        bottom: 0;
        left: 200px;
    }

    #masters-category .write {
        left: 100px;
    }

    .slick-initialized .slick-slide {
        padding: 0;
    }

    #masters-category .slick-next, .slick-prev {
        top: 200px;
        z-index: 1;
    }

    #masters-category .slick-next {
        right: 190px;
    }

    #masters-category .slick-prev {
        left: 190px;
    }

    #masters-category .barber-image {
        margin: 0 200px;
    }

}

@media screen and (max-width: 800px) {
    #reservation {
        max-width: 735px;
    }

    #reservation #reserve {
        justify-content: space-around;
    }
}


/*580-767*/
@media screen and (max-width: 767px) {

    #header {
        margin: 40px auto 0 auto;
    }

    .logo a {
        font-size: 20px;
    }

    #header #menu .menu-item {
        font-size: 14px;
    }

    #header #phone span {
        font-size: 13px;
        margin-left: 5px;
    }

    #header #menu {
        width: 230px;
        margin-right: 0;
    }

    #main #main-info .main-name {
        font-size: 120px;
        color: rgba(174, 137, 89, 0.099);
    }

    #main #main-image img {
        top: 278px;
        right: 0;
        max-width: 240px;
    }

    #main #main-info .btn {
        margin: 50px 0 20px 30px;
    }

    #main #main-info #main-title {
        margin: 150px 0 0 30px;
    }

    #main #main-info #main-text {
        font-size: 17px;
    }

    #about {
        margin: 60px auto;
    }

    #about #about-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .second-title {
        font-size: 26px;
    }

    #about #about-main #about-text {
        max-width: 540px;
        text-align: justify;
    }

    #about #about-main #about-text #about-image-second img {
        position: absolute;
        right: 0;
        bottom: -150px;
        max-width: 165px;
    }

    #about #about-main #about-image {
        margin-bottom: 20px;
        margin-right: 0;
    }

    #about #about-advantages {
        margin-top: 15px;
    }

    #about .about-charm-adaptive {
        display: grid;
        grid-template-columns: 40px 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
    }

    #about #about-advantages .cup-img {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }

    #about #about-advantages .cup {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        padding-left: 8px;
    }

    #about #about-advantages .scissors-img {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }

    #about #about-advantages .scissors {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }

    #about #about-advantages .interface-img {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }

    #about #about-advantages .interface {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }

    #instagram #instagram-container #instagram-text {
        margin-left: 0;
    }

    #instagram #instagram-container {
        height: 140px;
    }


    #price #price-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    #extra {
        width: 550px;
        margin-right: 0;
        margin-left: 0;
        margin-top: 50px;
    }

    #price #price-image {
        top: 200px;
    }

    #price #main-price {
        width: 550px;
        margin-left: 0;
    }

    #first #first-container {
        height: 200px;
        display: flex;
        flex-direction: column;
        padding: 25px 10px;
    }

    #first #first-container #first-text {
        margin-left: 0;
    }

    #first #first-container #get-discount {
        margin-left: 0;
        font-size: 23px;
    }

    #masters {
        margin: 40px auto;
    }

    #masters .second-title {
        margin-bottom: 30px;
    }

    #masters #masters-text {
        width: 530px;
    }

    #masters-category .slick-next, .slick-prev {
        top: 210px;
    }

    #masters-category .slick-next {
        right: 90px;
    }

    #masters-category .slick-prev {
        left: 90px;
    }

    #place-container {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 20px;
    }

    #place-container .logo {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    #place-container .place-text-time {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #place-container .place-text {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    #place-container .place-text-social {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    #place-container #place-image {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    #place-container .place-icons-mail {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    #place-container .place-icons-phone {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }


    #place-container #map {
        max-width: 530px;
        height: 340px;
        grid-column: 1 / 3;
        grid-row: 5 / 6;
    }

}


/*480-579*/
@media screen and (max-width: 579px) {

    #burger {
        display: block;
    }

    #header {
        position: relative;
    }

    #header #menu {
        display: none;
        height: 100%;
        position: fixed;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        margin: 0;
        padding-top: 50px;
        top: 0;
        left: 0;
        z-index: 10;
        background: rgba(0, 0, 0, 0.7);
    }

    #header #menu .menu-item {
        font-size: 25px;
        margin-top: 10px;
    }

    #menu #close {
        display: flex;
        color: white;
        position: absolute;
        top: 30px;
        left: 20px;
        font-size: 25px;
    }

    #menu a {
        display: block;
        width: auto;
        margin-bottom: 10px;
    }

    #header.menu-open #menu {
        display: flex;
    }

    #main #main-info .main-name {
        font-size: 105px;
    }

    #main #main-info #main-title {
        margin: 125px 0 0 30px;
    }

    #main #main-info #main-text {
        margin: 25px 0 0 30px;
    }

    #main #main-image img {
        top: 283px;
        right: 0;
        max-width: 204px;
    }

    #main #main-info .main-name:last-child {
        position: absolute;
        bottom: -180px;
        left: 16px;
    }

    #about {
        margin: 30px auto;
    }

    #about #about-main #about-text #about-image-second img {
        position: absolute;
        right: 0;
        bottom: -135px;
        max-width: 165px;
    }

    #about .second-title {
        max-width: 581px;
        margin: 0 auto 30px auto;
    }

    #instagram #instagram-container {
        display: flex;
        flex-direction: column;
        height: 250px;
        padding: 40px 0;
        text-align: center;
    }

    #instagram #instagram-container .btn {
        padding: 15px 35px;
    }

    #price #price-image img {
        width: 450px;
    }

    #masters #masters-text {
        width: 430px;
    }

    #masters-category .slick-next {
        right: 45px;
    }

    #masters-category .slick-prev {
        left: 45px;
    }

    #place-container #map {
        max-width: 440px;
        height: 300px;
    }

    #footer .footer-text {
        font-size: 12px;
    }

    #reservation .reserve-input {
        margin: 0 10px;
    }

    #reservation .option {
        margin: 16px 0;
    }
}

/*480-499*/
@media screen and (max-width: 499px) {

    #main #main-info .main-name {
        font-size: 75px;
    }

    #main #main-info #main-title {
        margin: 100px 0 0 30px;
    }

    #main #main-info .btn {
        margin: 30px 0 20px 30px;
    }

    #main .btn {
        margin-right: 180px;
        padding: 20px 20px;
    }

    #main #main-image img {
        top: 259px;
        right: 0;
        max-width: 150px;
    }

    #main #main-info .main-name:last-child {
        position: absolute;
        bottom: -122px;
        left: 20px;
    }

    #advantages {
        margin: 110px auto 0 auto;
    }

    #price #price-image img {
        width: 320px;
    }
}

@media screen and (max-width: 410px) {
    #main #main-image img {
        top: 297px;
    }
}

@media screen and (max-width: 402px) {
    #main #main-image img {
        top: 350px;
        max-width: 125px;
    }

    #instagram #instagram-container {
        height: 260px;
        padding: 30px 20px;
        text-align: center;
    }

    #instagram #instagram-container .btn {
        margin-left: 0px;
        margin-top: 20px;
    }
}


/*320-479*/
@media screen and (max-width: 479px) {

    #header {
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
        padding-left: 10px;
        padding-right: 10px;
    }

    #header .logo {
        margin-bottom: 10px;
        margin-right: 10px;
    }

    #header #burger {
        margin-right: 10px;
    }

    #main #main-info .main-name {
        font-size: 60px;
    }

    #main #main-info .main-name:last-child {
        bottom: -123px;
    }


    #advantages #advantages-container .advantage-title {
        font-size: 15px;
    }

    #advantages #advantages-container .advantage-title img {
        max-width: 50px;
        margin-right: 10px;
    }

    .cost {
        line-height: 1;
        text-align: center;
    }

    #masters {
        margin: 40px auto 60px auto;
    }

    #masters #masters-text {
        width: 280px;
    }

    #masters-category .slick-next, .slick-prev {
        top: 425px;
    }

    #masters-category .slick-next {
        right: 45px;
    }

    #masters-category .slick-prev {
        left: 45px;
    }

    #place-container #map {
        max-width: 280px;
        height: 250px;
    }

    #place-container #place-image a {
        margin: 0 5px;
    }

    #footer {
        padding-bottom: 30px;
    }

    #reservation {
        max-width: 300px;
    }

    #reservation h2.second-title {
        max-width: 230px;
    }

    #reservation.btn {
        padding: 20px 30px;
    }
}